@font-face {
    font-family: 'Roboto Mono';
    src: url('./RobotoMono-Light.ttf');
}

* {
    font-family: 'Roboto Mono';
}

.hello {
    color: deeppink;
    background: url('./logo.svg') center 0 no-repeat;
    background-size: contain;
}